<div ng-controller="EnvioOrdenes" class="dashboard-combined-orders-section">
  <h2 class="section-title">Combined Lab and Radiology Orders</h2>
  
  <div>
      <table class="combined-orders-table">
          <thead>
              <tr>
                  <th>Order Type</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="order in combinedOrders">
                  <td>{{ order.type }}</td>
                  <td>{{ order.date | date }}</td>
                  <td>{{ order.description }}</td>
                  <td>
                      <div class="share-order-icon">
                          <i class="fa fa-envelope" ng-click="shareOrders(order.visitStartDate, order.visitUuid)"></i>
                          <i class="fa fa-download" ng-click="downloadOrder(order.visitStartDate, order.visitUuid)"></i>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
